.test-create {
  .test-subject-chapters {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 15px;

    .test-chapters,
    .test-subject {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 35%;

      .ant-select {
        width: 85%;
      }
    }

    .test-level {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 20%;

      .ant-select {
        width: 50%;
      }
    }

    .select-label {
      font-weight: bold;
      flex-shrink: 0;
    }

  }

  .test-content {
    margin-top: 20px;
  }
}
