.subject-chapters-top {
  display: flex;
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 15px;
  gap: 20px;

  .test-chapters,
  .test-subject {
    display: flex;
    align-items: center;
    width: 35%;
    gap: 10px;

    .select-label {
      font-size: 16px;
      font-weight: bold;
      flex-shrink: 0;
    }
  }

  .test-level {
    display: flex;
    align-items: center;
    width: 15%;
    gap: 10px;

    .select-label {
      font-size: 16px;
      font-weight: bold;
      flex-shrink: 0;
    }

    .ant-select {
      min-width: 120px;
    }
  }

  .ant-select {
    width: 80%;
  }
}

.question-list {
  img {
    max-width: 500px !important;
    object-fit: contain;
  }
  .ant-spin-container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
  }

  .question-items {
    margin-bottom: 15px;

    .ql-container {
      border: none;
    }

    .ql-editor {
      padding: 0px;
      border: none;
    }

    .topic-remove {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn-space {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    .topic-level {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 80%;
    }

    .question-topic {
      margin-bottom: 5px;
      font-size: 16px;
      display: flex;
      gap: 5px;

      .question-number {
        flex-shrink: 0;
        font-weight: bold;
      }

    }

    .answer-items {
      font-size: 16px;
      display: flex;
      gap: 5px;
    }

    .corrected {
      font-weight: bold;
      display: flex;
      gap: 5px;
    }
  }
}
