.test-set-header {
  font-size: 30px;
  font-weight: 600;
  color: var(--hust-color);
  padding: 10px 0px;
  text-align: center;
}

.test-set-create {
  .test-set-create-auto {
    display: flex;
    justify-content: space-between;
    max-height: 60vh;
  }

  .ant-tabs-nav {
    margin-bottom: 0px !important;
  }

  .test-set-quantity {
    gap: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    margin-top: 20px;


    .test-set-input {
      display: flex;
      align-items: center;
      gap: 10px;

      .test-set-input-label {
        font-size: 16px;
        flex-shrink: 0;
        font-weight: bold;
      }
    }
  }

  .is-error {
    color: var(--hust-color);
    display: block;
    margin-top: 10px;
  }

  .ant-btn {
    margin-top: 20px;

    span {
      font-size: 18px;
    }
  }
}

.test-set-left {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ant-list {
    width: 100%;
    margin-top: 10px;

    .ant-list-item-meta-title {
      font-size: 16px !important;
    }

    .edit-preview {
      display: flex;
      gap: 7px;
    }

    .preview,
    .edit {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .preview-text,
    .edit-text {
      cursor: pointer;
      color: black;
      font-size: 16px;
    }

    .preview-text:hover,
    .edit-text:hover {
      color: #007BFF;
    }

    .ant-list-header {
      font-size: 18px;
      color: var(--hust-color);
      font-weight: bold;
    }

    .ant-spin-container {
      max-height: 250px;
      overflow-y: scroll;
    }
  }
}

.test-set-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;


  .ant-spin-container {
    width: 100%;
    overflow-y: scroll;
    padding: 0px 30px;
    height: 65vh;
  }

  .ant-spin-nested-loading {
    width: 100%;
    background-color: #ffffff;
    height: 65vh;

    div,
    p {
      font-family: "Times New Roman", serif;
    }

    .question-topic,
    .text-bold {
      font-weight: bold;
    }
  }

  .question-items {
    width: 100%;
  }

  .ant-btn {
    width: 150px;
    height: 40px;
  }
}

.test-preview-test-set {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  div {
    font-size: 18px;
  }
}

.test-create-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 70px;

  .test-create-info-row {
    display: flex;
    gap: 10px;

    span:nth-child(1) {
      font-weight: 600;
    }

    span {
      font-size: 18px;
    }
  }

  span {
    font-size: 16px;
    display: block;
  }
}

.btn-test-set-create {
  display: flex;
  gap: 10px;
}
