.manual-test {
  .manual-select {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 15px;
    flex-wrap: wrap;

    .manual-test-left,
    .manual-test-right {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 40%;
    }
  }

  .manual-item {
    display: flex;
    gap: 10px;
    align-items: center;

    .manual-item-label {
      font-size: 16px;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      flex-shrink: 0;
      width: 35%;
    }

    .question-number {
      color: var(--hust-color);
    }

    .ant-select,
    .ant-picker {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .test-re-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .ant-spin-container {
      width: 100%;
    }

    .ant-spin-nested-loading {
      top: 30px;
      width: 100%;
    }
  }

  .ant-modal-content {
    margin-top: 30vh;
  }

  .manual-config-details {
    .ant-input {
      margin-bottom: 10px;
    }

    .error-message {
      color: #FF4D4F;
    }
  }
}
