.test-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .test-edit-header {
    font-size: 28px;
    font-weight: 600;
    color: var(--hust-color);
    margin-bottom: 15px;
    text-align: center;
  }

  .test-edit-button {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;

    .test-edit-button-download {
      .ant-btn {
        background-color: #059862;
      }
    }
  }

  .test-preview {
    height: 78vh;
    width: 55vw;

    div,
    p {
      font-family: "Times New Roman", serif;
      font-size: 16px;
    }

    .question-topic,
    .text-bold {
      font-weight: bold;
    }

    .test-top {
      display: flex;
      justify-content: space-between;
      padding: 20px 40px 20px 30px;

      .test-bgd,
      .test-semester {
        border-bottom: 1px solid black;
      }

    }

    .question-items {
      margin-bottom: 10px;
    }

    .test-header-content {
      display: flex;
      justify-content: space-between;
      padding: 0px 15px;
      margin-bottom: 20px;

      .test-header-content-left {
        p {
          font-weight: bold;
        }
      }
    }

    .test-header-content-right,
    .test-bgd,
    .test-semester,
    .sig-left,
    .sig-right,
    .test-end {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        display: block;
      }
    }

    .test-footer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .test-sig {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 15px;
        margin-bottom: 40px;
      }

      .test-note {
        .text-note {
          padding-left: 0px;
          font-style: normal;
        }

        p {
          display: block;
          padding-left: 20px;
          font-style: italic;
        }
      }
    }

    .store-container {
      padding: 5px 5px 5px 20px;
      display: flex;
      gap: 10px;
      margin-top: 10px;

      h3 {
        font-weight: bold;
      }

    }

    .items-container {
      padding-left: 20px;
    }

    .item-container {
      padding: 5px;
      margin-left: 20px;
      display: flex;
      gap: 10px
    }

    .corrected {
      display: flex;
      gap: 10px;
      font-weight: bold;
    }

    .text-title {
      flex-shrink: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.test-edit-view {
  .ql-container {
    border: none;

    .ql-editor {
      padding: 0px;
    }
  }
}

#test-edit-form {
  height: 95%;

  .question-edit {
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px 10px 10px 25px;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .ant-form-item-explain-error {
    width: 200px;
  }

  label {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 16px;
  }

  .ql-container {
    border: none;
  }

  .ql-editor {
    padding: 0px !important;
  }

  .question-text {
    display: flex;
    width: 100%;
  }

  .topic-Text {
    width: 15%;
    margin-right: 10px;
  }

  .answer-list {
    display: flex;
    width: 100%;
  }

  .answer-item {
    width: 5%;
    margin-right: 10px;
  }

  .add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
