.wrapper-default-layout {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  padding-top: 60px;

  .container-content {
    margin-left: var(--width-sidebar);
    width: calc(100vw - var(--width-sidebar) - 9px);
    padding: 17px 60px;
    background-color: #f5f5f5fb;
    min-height: calc(100vh - 60px);
  }

  .container-content-collapse {
    margin-left: var(--width-sidebar-collapse) !important;
    width: calc(100vw - var(--width-sidebar-collapse));
    padding: 17px 60px;
    background-color: #f5f5f5fb;
    min-height: calc(100vh - 60px);
  }
}

// .wrapper-default-layout::after {
//   position: absolute;
//   content: "";
//   display: block;
//   width: 100%;
//   height: 2px;
//   background-color: #ccc;
//   bottom: 475px;
// }

.menu-content {
  display: flex;
  position: relative;
  left: 0px;
  width: 100%;
}

.header-sidebar {
  display: flex;
  gap: 100px;
  position: fixed;
  top: 10px;
  left: 0px;
}