.subject-content-tab {
  padding: 20px 30px;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;

  .subject-content-header-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--hust-color);
    margin-bottom: 30px;
  }
  .chapter-title {
    color: var(--hust-color);
    margin: 20px 0px 40px 0px;
    font-size: 20px;
    font-weight: bold;
  }

}

.subject-content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .btn {
    display: flex;
    justify-content: center;
  }

  .btn-submit {
    span {
      font-size: 20px;
    }
  }
  .btn-space{
    margin-bottom: 20px;
  }

  .chapter-view-title,
  .chapter-view-order {
    display: flex;
    align-items: center;
    gap: 15px
  }


  .ant-space-item:nth-child(1) {
    width: 85%;
  }

  .form-space {
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;


    input:nth-child(1) {
      width: 15% !important;
    }

    input:nt {
      width: 75% !important;
    }
  }

  input {
    height: 40px;
  }

  .chapter-view-title {
    width: 80%;
  }

  .item-space {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

}