:root {
  --hust-color: #8c1515;
}
.view-image-component {
  .view-image-button {
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
  }
}
.ant-modal-wrap {
  top: -50px !important; 
}

.modal-view-image {
  max-width: 65vw !important;
  min-width: 65vw !important;
  width: 65vw;

  .ant-modal-body {
    min-height: 62vh;
  }
  .modal-content-view-image {
    .header {
      margin: 32px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .block1, .block2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          min-width: 130px;
        }
      }
    }

    .handle-img {
      cursor: pointer;
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-height: 600px;
        object-fit: contain;
      }
    }
  }
  .ant-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      min-width: 120px;
    }
  }
  .ant-modal-content {
    .ant-modal-header {
      display: flex;
      justify-content: center;
    }
    .ant-modal-title {
      font-size: 24px;
    }
    svg {
      font-size: 20px;
    }
  }
}

.slick-next,
.slick-prev {
  color: var(--hust-color) !important;
  width: 32px !important;
  height: 32px !important;
}
.slick-next:before,
.slick-prev:before {
  color: var(--hust-color) !important;
  font-size: 32px !important;
}
.slick-dots {
  bottom: 0px !important;
}
.slick-dots li.slick-active button:before {
  color: var(--hust-color) !important;
}

