.login {
  h1 {
    margin-top: 25px;
  }

  .dont-have {
    margin-bottom: 25px;
  }

  .img-study img {
    height: 100%;
  }

  .ant-form {
    #normal_login_confirmPassword {
      height: 30px !important;
    }
    .ant-form-item {
      width: 95%;
    }
  }

  .error-register {
    color: var(--hust-color);
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
}